<div id="mymap">


<script>
// Map definition
//-----------------------------------------------------------------------------------------
var mymap = L.map('mymap', 'zoomControl').setView([41.311081, 69.240562], 5);

L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a> | Icons by <a href="https://thenounproject.com">Noun Project</a>',
	subdomains: 'abcd',
	maxZoom: 19
}).addTo(mymap);
//-----------------------------------------------------------------------------------------

///Map objects
//----------------------------------------------------------------------------------------






//Icons
//###############################################################


var markerIcon = L.icon({
  iconUrl: 'https://preview.ibb.co/ggU1C6/marker.png',
  iconSize:     [50, 50],
  iconAnchor:   [25, 25],
});

//###############################################################


//Pop-ups
//###############################################################


/*var hospitalPopup = "<a href='http://www.nytimes.com/1992/10/18/world/a-sarajevo-hospital-works-in-horror-beyond-anything.html' target='_blank'> <h3>A Sarajevo Hospital Works In Horror Beyond Anything</h3>  </a>  <br><br>  <img src='https://cdn.theatlantic.com/assets/media/img/photo/2012/04/20-years-since-the-bosnian-war/b22_06160564/main_900.jpg?14238565' alt='Kosevo hospital room' height='300px' width='400px'/> ";
*/

var sniperPopup = "<a href='http://www.nytimes.com/1992/09/26/world/racing-through-snipers-alley-on-ride-to-sarajevo.html' target='_blank'> <h3>Racing through Sniper Alley</h3>  </a>  <br><br>  <img src='https://ichef-1.bbci.co.uk/news/640/media/images/59521000/jpg/_59521919_sniper-640x630.jpg' alt='Sniper alley' height='300px' width='450px'/> ";


var gunPopup = "<a href='https://www.atlasobscura.com/places/sarajevo-bobsleigh-track' target='_blank'> <h3>A war-torn Olympic relic is being overtaken by graffiti and nature. </h3>  </a>  <br><br>  <img src='http://cdn.yomadic.com/wp-content/uploads/track-bob-sled-sarajevo.jpg?x93737' alt='Abandoned track' height='150px' width='250px'/> ";





//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
var icankalaPopup = "<b>İçhan Kala</b><br> <img src='https://www.advantour.com/img/uzbekistan/khiva/khiva.jpg' alt='' height='150px' width='250px'/>";

var mervPopup = "<b>Merv</b><br>  <img src='http://www.mytravelbook.org/object_foto/2017/06/Drevnii_gorod_Merv_6.jpg' alt='' height='150px' width='250px'/>"


var kohneurgencPopup = "<b>Köhne Ürgenç</b><br> <img src='https://cosmicktraveler.files.wordpress.com/2014/02/mausoleum-of-najmuddin-kubra.jpg' alt='' height='150px' width='250px'/>"


var nisaPopup = "<b>Nisa</b><br> <img src='https://turkmenistan.orexca.com/img/monuments/nissa4-4.jpg' alt='' height='150px' width='250px'/>"


var suleymankutsaldagPopup = "<b>Süleyman Kutsal Dağ</b><br> <img src='https://avatars.mds.yandex.net/get-pdb/231404/8340b3d9-7f98-4cfd-92c0-580161e5aefc/s800' alt='' height='150px' width='250px'/>"


var buharaPopup = "<b>Buhara</b><br> <img src='http://turi-uzbekistana.ru/images/city/20140620155202_big.jpg' alt='' height='150px' width='250px'/>"


var sehrisebzPopup = "<b>Şehr-i-Sebz</b><br> <img src='https://www.advantour.com/img/uzbekistan/shakhrisabz/shakhrisabz7.jpg' alt='' height='150px' width='250px'/>"


var semerkandPopup = "<b>Semerkand</b><br>  <img src='https://uztur.info/wp-content/uploads/2017/05/ploshchad_registan_foto1.jpg' alt='' height='150px' width='250px'/>"


var yesseviturbesiPopup = "<b>Yessevi Türbesi</b><br>   <img src='https://static.tonkosti.ru/images/2/2d/%D0%9C%D0%B0%D0%B2%D0%B7%D0%BE%D0%BB%D0%B5%D0%B9_%D0%A5%D0%BE%D0%B4%D0%B6%D0%B8_%D0%90%D1%85%D0%BC%D0%B5%D0%B4%D0%B0_%D0%AF%D1%81%D0%B0%D0%B2%D0%B8_%D0%B2_%D0%A2%D1%83%D1%80%D0%BA%D0%B5%D1%81%D1%82%D0%B0%D0%BD%D0%B5.jpg' alt='' height='150px' width='250px'/>"


var sarazmPopup = "<b>Sarazm</b><br>  <img src='http://www.panjakent-intour.tj/images/img/sarazm2.jpg' alt='k' height='150px' width='250px'/>"


var tamgaliPopup = "<b>Tamgalı</b><br>  <img src='https://storage.googleapis.com/yvimg-prod/images/user/theyakov/aCGwcuzPS4JhfcfEPaIt2t1N1AjS6A.jpg' alt='' height='150px' width='250px'/>"


var pamirdaglariPopup = "<b>Pamir Dağları</b><br>  <img src='http://forum.awd.ru/gallery/images/upload/261/0c3/2610c350094f5e1b358a8008797b7d3a.jpg' alt='' height='150px' width='250px'/>"



var Options =
        {
        'maxWidth': '500',
        'className' : 'custom'
        }

//Markers
//###############################################################

var ichankala = L.marker([41.385043, 60.357900]).addTo(mymap).bindPopup(icankalaPopup,Options).on('click', clickZoom);
var merv = L.marker([37.665542, 62.167511]).addTo(mymap).bindPopup(mervPopup,Options).on('click', clickZoom);
var kohneurgenc = L.marker([42.325989, 59.145950]).addTo(mymap).bindPopup(kohneurgencPopup,Options).on('click', clickZoom);
var nisa = L.marker([37.951584, 58.211658]).addTo(mymap).bindPopup(nisaPopup,Options).on('click', clickZoom);
var suleymankutsaldag = L.marker([40.528664, 72.782851]).addTo(mymap).bindPopup(suleymankutsaldagPopup,Options).on('click', clickZoom);
var buhara = L.marker([39.776093, 64.414632]).addTo(mymap).bindPopup(buharaPopup,Options).on('click', clickZoom);
var sehrisebz = L.marker([39.060831, 66.829762]).addTo(mymap).bindPopup(sehrisebzPopup,Options).on('click', clickZoom);
var semerkand= L.marker([39.655035, 66.976786]).addTo(mymap).bindPopup(semerkandPopup,Options).on('click', clickZoom);
var yesseviturbesi = L.marker([43.298016, 68.272774]).addTo(mymap).bindPopup(yesseviturbesiPopup,Options).on('click', clickZoom);
var sarazm = L.marker([39.507537, 67.461292]).addTo(mymap).bindPopup(sarazmPopup,Options).on('click', clickZoom);
var tamgali = L.marker([43.809504, 75.544098]).addTo(mymap).bindPopup(tamgaliPopup,Options).on('click', clickZoom);
var pamirdaglari = L.marker([39.242553, 72.609181]).addTo(mymap).bindPopup(pamirdaglariPopup,Options).on('click', clickZoom);
//----------------------------------------------------------------------------------------

function clickZoom(e) {
	map.setView(e.target.getLatLng(),15);
}



</script>
