<div id="mymap">


<script>
// Map definition
//-----------------------------------------------------------------------------------------
var mymap = L.map('mymap', 'zoomControl').setView([41.311081, 69.240562], 5);

L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a> | Icons by <a href="https://thenounproject.com">Noun Project</a>',
	subdomains: 'abcd',
	maxZoom: 19
}).addTo(mymap);
//-----------------------------------------------------------------------------------------

///Map objects
//----------------------------------------------------------------------------------------






//Icons
//###############################################################


var markerIcon = L.icon({
  iconUrl: 'https://preview.ibb.co/ggU1C6/marker.png',
  iconSize:     [50, 50],
  iconAnchor:   [25, 25],
});

//###############################################################


//Pop-ups
//###############################################################


/*var hospitalPopup = "<a href='http://www.nytimes.com/1992/10/18/world/a-sarajevo-hospital-works-in-horror-beyond-anything.html' target='_blank'> <h3>A Sarajevo Hospital Works In Horror Beyond Anything</h3>  </a>  <br><br>  <img src='https://cdn.theatlantic.com/assets/media/img/photo/2012/04/20-years-since-the-bosnian-war/b22_06160564/main_900.jpg?14238565' alt='Kosevo hospital room' height='300px' width='400px'/> ";
*/

var sniperPopup = "<a href='http://www.nytimes.com/1992/09/26/world/racing-through-snipers-alley-on-ride-to-sarajevo.html' target='_blank'> <h3>Racing through Sniper Alley</h3>  </a>  <br><br>  <img src='https://ichef-1.bbci.co.uk/news/640/media/images/59521000/jpg/_59521919_sniper-640x630.jpg' alt='Sniper alley' height='300px' width='450px'/> ";


var gunPopup = "<a href='https://www.atlasobscura.com/places/sarajevo-bobsleigh-track' target='_blank'> <h3>A war-torn Olympic relic is being overtaken by graffiti and nature. </h3>  </a>  <br><br>  <img src='http://cdn.yomadic.com/wp-content/uploads/track-bob-sled-sarajevo.jpg?x93737' alt='Abandoned track' height='350px' width='450px'/> ";



//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
var icankalaPopup = "<b>İçhan Kala</b><br>I am a popup.";
var mervPopup = "<b>Merv</b><br>I am a popup."
var kohneurgencPopup = "<b>Köhne Ürgenç</b><br>I am a popup."
var nisaPopup = "<b>Nisa</b><br>I am a popup."
var suleymankutsaldagPopup = "<b>Süleyman Kutsal Dağ</b><br>I am a popup."
var buharaPopup = "<b>Buhara</b><br>I am a popup."
var sehrisebzPopup = "<b>Şehr-i-Sebz</b><br>I am a popup."
var semerkandPopup = "<b>Semerkand</b><br>I am a popup."
var yesseviturbesiPopup = "<b>Yessevi Türbesi</b><br>I am a popup."
var sarazmPopup = "<b>Sarazm</b><br>I am a popup."
var tamgaliPopup = "<b>Tamgalı</b><br>I am a popup."
var pamirdaglariPopup = "<b>Pamir Dağları</b><br>I am a popup."



var Options =
        {
        'maxWidth': '500',
        'className' : 'custom'
        }

//Markers
//###############################################################

var ichankala = L.marker([41.385043, 60.357900]).addTo(mymap).bindPopup(icankalaPopup,Options).on('click', clickZoom);
var merv = L.marker([37.665542, 62.167511]).addTo(mymap).bindPopup(mervPopup,Options).on('click', clickZoom);
var kohneurgenc = L.marker([42.325989, 59.145950]).addTo(mymap).bindPopup(kohneurgencPopup,Options).on('click', clickZoom);
var nisa = L.marker([37.951584, 58.211658]).addTo(mymap).bindPopup(nisaPopup,Options).on('click', clickZoom);
var suleymankutsaldag = L.marker([40.528664, 72.782851]).addTo(mymap).bindPopup(suleymankutsaldagPopup,Options).on('click', clickZoom);
var buhara = L.marker([39.776093, 64.414632]).addTo(mymap).bindPopup(buharaPopup,Options).on('click', clickZoom);
var sehrisebz = L.marker([39.060831, 66.829762]).addTo(mymap).bindPopup(sehrisebzPopup,Options).on('click', clickZoom);
var semerkand= L.marker([39.655035, 66.976786]).addTo(mymap).bindPopup(semerkandPopup,Options).on('click', clickZoom);
var yesseviturbesi = L.marker([43.298016, 68.272774]).addTo(mymap).bindPopup(yesseviturbesiPopup,Options).on('click', clickZoom);
var sarazm = L.marker([39.507537, 67.461292]).addTo(mymap).bindPopup(sarazmPopup,Options).on('click', clickZoom);
var tamgali = L.marker([43.809504, 75.544098]).addTo(mymap).bindPopup(tamgaliPopup,Options).on('click', clickZoom);
var pamirdaglari = L.marker([39.242553, 72.609181]).addTo(mymap).bindPopup(pamirdaglariPopup,Options).on('click', clickZoom);
//----------------------------------------------------------------------------------------

function clickZoom(e) {
	map.setView(e.target.getLatLng(),15);
}



</script>
